In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('heart_failure.csv')

In [3]:
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [4]:
df.shape

(299, 13)

In [5]:
df.isna().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [6]:
df.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
y = df['DEATH_EVENT']
X = df.drop(columns='DEATH_EVENT')

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [10]:
X_train.shape

(239, 12)

In [11]:
def models(X_train, y_train):
    
    # logistic regression
    from sklearn.linear_model import LogisticRegression
    log = LogisticRegression(random_state=0)
    log.fit(X_train, y_train)
    
    # kNN
    from sklearn.neighbors import KNeighborsClassifier
    knn = KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2)
    knn.fit(X_train, y_train)
    
    # SVC
    from sklearn.svm import SVC
    svc_rbf = SVC(kernel='rbf', random_state=0)
    svc_rbf.fit(X_train, y_train)
    
    # Gaussian Naive Bayes
    from sklearn.naive_bayes import GaussianNB
    gauss = GaussianNB()
    gauss.fit(X_train, y_train)
    
    # Decision tree
    from sklearn.tree import DecisionTreeClassifier
    tree = DecisionTreeClassifier(criterion='entropy', random_state=0)
    tree.fit(X_train, y_train)
    
    # Random forest
    from sklearn.ensemble import RandomForestClassifier
    forest = RandomForestClassifier(n_estimators=10, criterion='entropy', random_state=0)
    forest.fit(X_train, y_train)
    
    # XGBoost
    from xgboost import XGBClassifier
    xgb = XGBClassifier(use_label_encoder=False, eval_metric='mlogloss')
    xgb.fit(X_train, y_train)

    
    # training accuracy
    print('[0] Logistic Regression training accuracy: ', log.score(X_train, y_train))
    print('[1] KNN training accuracy', knn.score(X_train, y_train))
    print('[2] SVC training accuracy', svc_rbf.score(X_train, y_train))
    print('[3] Naive Bayes training accuracy', gauss.score(X_train, y_train))
    print('[4] Tree training accuracy', tree.score(X_train, y_train))
    print('[5] Random forest training accuracy', forest.score(X_train, y_train))
    print('[6] XGBoost training accuracy', xgb.score(X_train, y_train))
    
    return log, knn, svc_rbf, gauss, tree, forest, xgb

In [12]:
model = models(X_train, y_train)

C:\Users\prahl\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

[0] Logistic Regression training accuracy:  0.8326359832635983
[1] KNN training accuracy 0.7364016736401674
[2] SVC training accuracy 0.6736401673640168
[3] Naive Bayes training accuracy 0.8158995815899581
[4] Tree training accuracy 1.0
[5] Random forest training accuracy 0.9832635983263598
[6] XGBoost training accuracy 1.0

In [13]:
print('Logistic regression test accuracy', model[0].score(X_test, y_test))
print('Nearest neighbor test accuracy', model[1].score(X_test, y_test))
print('Support vector test accuracy', model[2].score(X_test, y_test))
print('Naive Bayes test accuracy', model[3].score(X_test, y_test))
print('Decision tree test accuracy', model[4].score(X_test, y_test))
print('Random forest test accuracy', model[5].score(X_test, y_test))
print('XGBoost test accuracy', model[6].score(X_test, y_test))

Logistic regression test accuracy 0.7666666666666667
Nearest neighbor test accuracy 0.6833333333333333
Support vector test accuracy 0.7
Naive Bayes test accuracy 0.7833333333333333
Decision tree test accuracy 0.8
Random forest test accuracy 0.7666666666666667
XGBoost test accuracy 0.8